@use "global" as *;

.about__body {
	@include mq(md){
		display: flex;
		justify-content: center;
		align-items: center;
		gap: rem(60);
		width: 80%;
		margin-inline: auto;
		margin-top: rem(20);
	}
}

.about__image {
	width: rem(120);
	aspect-ratio: 220 / 300;
	margin-inline: auto;
	flex-shrink: 0;
	position: relative;
	z-index: 0;
	@include mq(md){
		margin-inline: initial;
	}
}

.about__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	box-shadow: 2px 3px 5px 0px rgba(72, 69, 71, 0.35);
}

.about__image::after {
	display: inline-block;
	content: '';
	width: rem(120);
	height: rem(120);
	background: #fff0f0;
	position: absolute;
	bottom: -13%;
	right: -16%;
	z-index: -1;
}

.about__image::before {
	display: inline-block;
	content: '';
	width: rem(60);
	height: rem(60);
	background: #fff0f0;
	position: absolute;
	top: -9%;
	left: -12%;
	z-index: -1;
}

.about__text {
	margin-top: rem(40);
	padding: 0 rem(15);
	font-size: rem(14);
	font-weight: $normal;
	line-height: 2;
	letter-spacing: 0.05em;
	text-align: justify;
	@include mq(md){
		padding: 0;
		margin-top: 0;
		font-size: rem(16);
		letter-spacing: 0.03em;
		text-align: left;
	}
}

.about__link {
	text-align: center;
	margin-top: rem(40);
	@include mq(md){
		margin-top: rem(60);
	}
}