@use "global" as *;

.about-page__body {
	margin-top: rem(10);
	@include mq(md){
		margin-top: rem(32);
		display: flex;
		justify-content: center;
		gap: rem(80);
	}
}

.about-page__image {
	width: rem(120);
	aspect-ratio: 220 / 300;
	margin-inline: auto;
	position: relative;
	z-index: 0;
	@include mq(md){
		margin-inline: initial;
	}
}

.about-page__image::after {
	display: inline-block;
	content: '';
	width: rem(120);
	height: rem(120);
	background: #fff0f0;
	position: absolute;
	bottom: -9%;
	right: -21%;
	z-index: -1;
	@include mq(md){
		top: 8%;
		right: -16%;
	}
}

.about-page__image::before {
	display: inline-block;
	content: '';
	width: rem(60);
	height: rem(60);
	background: #fff0f0;
	position: absolute;
	top: -8%;
	left: -17%;
	z-index: -1;
	@include mq(md){
		top: -2%;
		left: -12%;
		
	}
}

.about-page__image img {
	width: 100%;
	object-fit: cover;
	box-shadow: 2px 3px 5px 0px rgba(72, 69, 71, 0.35);
}

.info-list.info-list--about {
	margin-top: rem(40);
	@include mq(md){
		width: 70%;
		margin-top: 0;
	}
}