@use "global" as *;

.category {
	display: flex;
	gap: rem(10);
	margin-top: rem(5);
}

.category__piece {
	font-size: rem(13);
	color: $white;
	background-color: $green;
	padding: rem(3) rem(8) rem(2);
	border-radius: rem(3);
}