@use "global" as *;

.info-list {
	margin-top: rem(70);
	@include mq(md){
		margin-top: rem(100);
	}
}

.info-list.info-list--works {
	margin-top: rem(50);
}

.info-list__item:nth-child(n+2) {
	margin-top: rem(40);
	@include mq(md){
		margin-top: rem(60);
	}
}

.info-list__item--works:nth-child(n+2) {
	margin-top: rem(20);
	@include mq(md){
		margin-top: rem(30);
	}
}

.info-list__head {
	font-size: rem(18);
	letter-spacing: 0.02em;
	line-height: 1.3;
	color: $green;
	padding-left: rem(20);
	position: relative;
	@include mq(md){
		font-size: rem(22);
	}
}

.info-list__head::before {
	display: inline-block;
	content: '';
	width: rem(10);
	height: rem(10);
	background: $green;
	border-radius: rem(3);
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
}

.info-list__head--works {
	font-size: rem(16);
	@include mq(md){
		font-size: rem(18);
	}
}

.info-list__text {
	margin-top: rem(10);
	font-size: rem(14);
	letter-spacing: 0.03em;
	line-height: 1.7;
	@include mq(md){
		margin-top: rem(20);
		font-size: rem(16);
		line-height: 1.8;
	}
}

.info-list__text.info-list__text--works {
	margin-top: 0;
}

.info-list__text span {
	font-size: rem(14);
}