@use "global" as *;

.mv{
	position: relative;
}

.mv__image-wrap {
	width: 100%;
	height: 70vh;
	height: 70dvh;
	margin-top: rem(95);
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	@include mq(md){
		max-width: rem(1200);
		margin-top: rem(75);
		grid-template-columns: repeat(5, 1fr);
		grid-template-rows: repeat(4, 1fr);
		gap: rem(10);
	}
}

.mv__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.mv__image:nth-of-type(1) {
	grid-column: 1/2;
	grid-row: 1/2;
	@include mq(md){
		grid-column: 3/4;
		grid-row: 1/2;
	}
}

.mv__image:nth-of-type(2) {
	grid-column: 3/4;
	grid-row: 1/2;
	@include mq(md){
		grid-column: 1/2;
		grid-row: 2/3;
	}
}

.mv__image:nth-of-type(3) {
	grid-column: 2/3;
	grid-row: 2/3;
	@include mq(md){
		grid-column: 5/6;
		grid-row: 3/4;
	}
}

.mv__image:nth-of-type(4) {
	grid-column: 1/2;
	grid-row: 3/4;
	@include mq(md){
		grid-column: 2/3;
		grid-row: 4/5;
	}
}

.mv__image:nth-of-type(5) {
	grid-column: 3/4;
	grid-row: 3/4;
	@include mq(md){
		grid-column: 4/5;
		grid-row: 4/5;
	}
}

.mv__title-wrap {
	width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
	font-family: $en-font;
}

.mv__subtitle {
	text-transform: capitalize;
	font-size: clamp(2rem, 1.384rem + 2.63vw, 3.75rem);
	font-weight: $normal;
	letter-spacing: 0.05em;
	color: $green;
	text-shadow: 4px 3px 5px rgba(26, 44, 52, 0.55);
}

.mv__title {
	font-size: rem(30);
	font-weight: $normal;
	letter-spacing: 0.03em;
	color: $green;
	text-shadow: 2px 2px 3px rgba(26, 44, 52, 0.64);
}

.mv__title span {
	opacity: 0;
	visibility: hidden;
	transform: translateX(-100%);
}