@use "global" as *;

.mv {
	position: relative;
	width: 100%;
	height: 100vh;
	height: 100dvh;
	overflow: hidden;
}

.mv__inner,
.mv__slider,
.swiper-wrapper,
.swiper-slide {
	height: inherit;
	width: 100%;
}

@keyframes zoomUp {
	0% {
		transform: scale(1);
  }
  100% {
		transform: scale(1.1);
  }
}
.swiper-slide-active img,
.swiper-slide-duplicate-active img,
.swiper-slide-prev img {
	animation: zoomUp 7s linear 0s normal both;
}

.swiper-slide img {
	aspect-ratio: 375 / 667;
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: relative;
	@include mq(md){
		aspect-ratio: 1440 / 768;
	}
}

.swiper-caption {
	font-size: rem(15);
	letter-spacing: 0.05em;
	// font-weight: $bold;
	color: $white;
	position: absolute;
	bottom: 3%;
	right: 3%;
	z-index: 2;
}

.swiper-caption--green {
	color: $green;
}

.mv__title-wrap {
	width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	// top: 0;
	// bottom: 0;
	// margin: auto;
	text-align: center;
	color: $green;
	font-family: $en-font;
	z-index: 2;
	// mix-blend-mode: difference;
}

.mv__subtitle {
	font-size: clamp(2rem, 1.384rem + 2.63vw, 3.75rem);
	font-style: italic;
	letter-spacing: 0.03em;
	text-shadow: 2px 2px 3px rgba(26, 44, 52, 0.65);
}

.mv__title {
	font-size: rem(30);
	font-weight: $normal;
	letter-spacing: 0.03em;
	text-shadow: 2px 2px 3px rgba(26, 44, 52, 0.64);
	opacity: 0;
	visibility: hidden;
	transform: translateY(100%);
}

.mv__subtitle span {
	opacity: 0;
	visibility: hidden;
	transform: translateX(-100%);
}