@use "global" as *;

.pc-nav {
	display: none;
	@include mq(md){
		display: block;
	}
}

.pc-nav__inner {
	height: inherit;
}

.pc-nav__items {
	height: inherit;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: rem(48);
}

.pc-nav__item {
	height: inherit;
}

.pc-nav__item a {
	height: inherit;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: rem(18);
	font-family: $en_font;
	font-weight: 500;
	letter-spacing: 0.03em;
	color: $green;
	text-transform: capitalize;
}