@use "global" as *;

.pc-nav {
	display: none;
	@include mq(md){
		display: block;
	}
}

.pc-nav__inner {
	height: inherit;
}

.pc-nav__items {
	height: inherit;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: rem(48);
}

.pc-nav__item {
	height: inherit;
}

.pc-nav__item a {
	height: inherit;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: rem(18);
	font-family: $en_font;
	font-weight: 500;
	letter-spacing: 0.03em;
	color: $green;
	text-transform: capitalize;
	position: relative;
}

.pc-nav__item a::after {
    content: '';
    position: absolute;
    top: 65%;
    left: 0%;
    width: 100%;
    height: 2px;
    background: $green;
    transition: transform .3s;
    transform: scale(0, 1);/*X方向0、Y方向1*/
    transform-origin: center top;/*上部中央基点*/
}

/*現在地とhoverの設定*/
.pc-nav__item a:hover::after {
    transform: scale(1, 1);/*X方向にスケール拡大*/
}